#main-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
#left-column-components {
  width: 33%;
  padding-left: 5%;
}
#company-name {
  font-size: 3em;
}
#button-container {
  border-radius: 30px;
  border: 1px solid white;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  width: 75%;
}
#button-container a
 {
  font-size: large;
  color: white;
  text-decoration: none;
 }

 #button-container a:hover{
  color: rgb(110, 202, 238);
 }

 #work-with-us > a{
  font-size: large;
  color: white;
  text-decoration: none;
 }

 #work-with-us > a:hover{
  color: rgb(110, 202, 238);
 }
 
 #right-column-components {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#right-column-components > button {
  justify-content: right;
  padding-top: 2%;
  padding-right: 10%;
}
