/* #aboutUsContainer{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

#about-us-header{
    height: 18vh;
    font-size: 5em;
    display: flex;
    margin-left: 5%;
    align-items: center;
}

#about-us-header > p{
    margin: 0;
}

.about-us-card{
    width: auto;
    height: auto;
}

.about-us-card p{
    color: black;
}

/*Phone media query*/

@media screen and (max-width: 1070px) {
    #about-us-description{
        display: none;
    }
    #about-us-card{
        height: 30px;
    }
}
