#portfolio_header {
    font-size: 5em;
    letter-spacing: 3pt;
    margin-left: 5vw;
    padding-top: 3.5vh;
    font-weight: 500;
}

#portfolio_header > p{
    margin: 0;
}

#portfolio-container{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

#page_container{
    height: 100vh;
}


#content-title{
    text-align: center;
    font-size: large;
    font-weight: 800;
    margin-bottom: 0;
}

#content-description{
    padding: 2%;
}

/*Phone media query*/
 @media screen and (max-width: 1000px) { 
    /* #portfolio-container {
        overflow: hidden;
        align-items: center;
        transition: transform .3s ease-in-out;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    #portfolio-card {
        flex: 0 0 75%;
        height: 55%;
        padding: 20px;
        margin: 10px;
        box-shadow: 0 2px 5px whitesmoke;
        scroll-snap-align: start;
    }
    #portfolio-card > img{
        width: 100% !important;
    } */

    #portfolio-container{
        flex-direction: column;
    }
} 

