#aboutUsContainer{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about-us-header{
    height: 18vh;
    font-size: 2.3em;
    display: flex;
    margin-left: 5%;
    align-items: center;
    /* margin-bottom: 3%; */
}

.about-us-card{
    width: auto;
    height: auto;
}

.about-us-card p{
    color: black;
}