#FAQ-header{
    height: 16vh;
    display: flex;
    align-items: center;
}

#FAQ-header > p{
    font-size: 4em;
    margin-left: 1em;
}

#FAQ-container {
    width: 50%;
    text-wrap: wrap;
    height: 80vh;
    margin-top: 2.5em;
    margin-left: 3em;
}

#FAQ-container p {
    color: white;
    font-size: 1.25rem;
}

#FAQ-container div {
    background-color: black;
}

#panel7d-header{
    /* margin-bottom: 2%; */
}