#main-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#left-column-components {
  width: 38%;
}
#company-name {
  font-size: 2em;
}
#button-container {
  border-radius: 30px;
  border: 1px solid white;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  width: 75%;
}

#group-image > img{
  border-radius: 58% 45% 45% 33%;
}

#button-container a
 {
  font-size: large;
  color: white;
  text-decoration: none;
 }
 #button-container a:hover{
  color: lightblue;
 }

 #right-column-components {
  width: 38%;
  display: flex;
  flex-direction: column;
}

#work-text{
  padding-left: 1vw;
  color: whitesmoke;
  font-size: x-large;
}

#work-text:hover{
  color: lightblue;
}

#work-text-button{
margin-top: 10%;
}

#right-column-components > button {
  justify-content: right;
  padding-top: 2%;
  padding-right: 10%;
}

.bubble_logo {
  top: 88vh;
  position: absolute;
  width: 100vw;
}
.bubble_logo p {
  margin: 0;
}
.arrow_down {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.504);
  animation: float 2.5s ease-in-out infinite;
}

.arrow_down > p{
  letter-spacing: 2px;
}
.fa-angles-down {
  text-shadow: 2px 2px 4px #000000c2;
}

@keyframes float {
  0% {
      transform: translatey(0px);
  }

  50% {
      transform: translatey(-10px);
  }

  100% {
      transform: translatey(0px);
  }
}
