#main-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#company-h1{
  margin: 0;
}

#home-line{
  margin: 5% 0 5% 0;
  width: 85%;
}

#left-column-components {
  width: 38%;
}
#company-name {
  font-size: 2.2em;
}
#button-container {
  padding: 2%;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 75%;
}

#group-image > img{
  border-radius: 58% 45% 45% 33%;
}

#button-container a
 {
  font-size: large;
  color: white;
  text-decoration: none;
  font-family: "Old Standard TT";
 }
 
 #right-column-components {
  width: 38%;
  display: flex;
  flex-direction: column;
}

#work-text{
  color: whitesmoke;
  font-size: large;
  font-family: "Old Standard TT";
  
}

#faq-button{
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  transition: all 0.3s ease-in-out;
  background-color: rgb(25, 146, 186);
}

#faq-button:hover{
  transform: translateX(5px);
}

#meet-the-team-button{
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  transition: all 0.3s ease-in-out;
  background-color: rgb(25, 146, 186);}

#meet-the-team-button:hover{
  transform: translateX(5px);
}

#portfolio-button{
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  transition: all 0.3s ease-in-out;
  background-color: rgb(25, 146, 186);}

#portfolio-button:hover{
  transform: translateX(5px);
}

#get-in-touch-button{
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  transition: all 0.3s ease-in-out;
  background-color: rgb(25, 146, 186);
}

#get-in-touch-button:hover{
  transform: translateX(5px);
}

#right-column-components > button {
  justify-content: right;
  padding-top: 2%;
  padding-right: 10%;
}

.bubble_logo {
  top: 88vh;
  position: absolute;
  width: 100vw;
}
.bubble_logo p {
  margin: 0;
}
.arrow_down {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.504);
  animation: float 2.5s ease-in-out infinite;
}

.arrow_down > p{
  letter-spacing: 2px;
}
.fa-angles-down {
  text-shadow: 2px 2px 4px #000000c2;
}

@keyframes float {
  0% {
      transform: translatey(0px);
  }

  50% {
      transform: translatey(-10px);
  }

  100% {
      transform: translatey(0px);
  }
}
