#main-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#left-column-components {
  width: 33%;
  padding-left: 5%;
}
#company-name {
  font-size: 3em;
}
#button-container {
  border-radius: 30px;
  border: 1px solid white;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  width: 75%;
}
#button-container a
 {
  font-size: large;
  color: white;
  text-decoration: none;
 }

 #button-container a:hover{
  color: rgb(110, 202, 238);
 }

 #work-with-us > a{
  font-size: large;
  color: white;
  text-decoration: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
 }

 #work-with-us > a:hover{
  color: rgb(110, 202, 238);
 }

 #right-column-components {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#right-column-components > button {
  justify-content: right;
  padding-top: 2%;
  padding-right: 10%;

}

.bubble_logo {
  left: 47vw;
  top: 85vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 6%;
  padding: 10px;
  flex-direction: column;
}
.bubble_logo p {
  margin: 0;
}
.arrow_down {
  font-size: 35px;
  font-stretch: expanded;
  color: white;
  opacity: 22%;
  animation: float 2.5s ease-in-out infinite;
}

.fa-angles-down {
  text-shadow: 2px 2px 4px #000000c2;
}

@keyframes float {
  0% {
      transform: translatey(0px);
  }

  50% {
      transform: translatey(-10px);
  }

  100% {
      transform: translatey(0px);
  }
}
